<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EasyNetQ" version="0.53.3.414" targetFramework="net461" />
  <package id="EasyNetQ.Management.Client" version="0.47.16.60" targetFramework="net461" />
  <package id="NLog" version="4.2.2" targetFramework="net461" />
  <package id="RabbitMQ.Client" version="3.5.6" targetFramework="net461" />
</packages>